doctype html
html
  head
    title Book Trading Club
    meta(name='description',content='Book Trading Club')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')