doctype html
html
  head
    title Book Trading Club
    meta(name='description',content='Book Trading Club')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Load Styles
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css')
    link(rel='stylesheet', href='/public/style.css')
    // Load Scripts
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')
  body
    // Navbar
    nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
      article(class='container-fluid')
        button(class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
          span(class='navbar-toggler-icon')
        a(class='navbar-brand' href='/') Book TC
    article(class='jumbotron')
      article(class='container-fluid text-center')
        h2(class='display-4') Welcome to Book Trading Club
          i(class='fas fa-book')
        p You can search the book you want and make a book trading request with other peers
        //- Set Up Form
        form(action='/search' method='get')
          article(class='input-group mb-3')
            input(type='text' class='form-control' placeholder='Enter Book Title (e.g. London)' name='title')
            span(class='input-group-btn')
              button(class='btn btn-success' type='submit') Search 
                i(class='fas fa-search')
    // Recent Search Items
    article(id='recent-search' class='container-fluid')
      h1 Recent Search
      // Display Search Results
      article(class='row mt-4 mb-4')
        - each book in books
            article(class='col md-4 mb-4')
              article(class='card')
                h6(class='card-header')= book.title
                article(class='card-block mt-2')
                  h6(class='card-title ml-4') ISBN13:
                    span(id='isbn')= book.industryIdentifiers[0].identifier
                  h6(class='card-subtitle text-muted ml-4') Publisher:
                    span= book.publisher
                img(class='center-block mt-3 mb-3' style='height: 168px; width: 128px; display: block' src='= book.thumbnail' alt='Card Image')
                article(class='card-block')
                  a(href='= book.link' class='card-link btn btn-primary btn-block' target='_blank') More Info

