/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Body */
body {
  font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Card */
.card-header {
  height: 100px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

/* Jumbotron */
.jumbotron {
  background-color: lightblue;
}

/* Background Color for Search */
.cremedepeche {
  background-color: #f5d6c6;
}